// Abstract
@import "abstract/constans";
@import "abstract/mixin";
@import "abstract/placeholders";

// Base
@import "base/base";
@import "base/burger";

// Components
@import "components/basket";
@import "components/delivery";
@import "components/pay";
@import "components/recipient";

// Layouts
@import "layouts/header";
@import "layouts/footer";
@import "layouts/wrapper";