.search__input, .header__search, .total__button, .form__item .tag, .tooltip-free__content, .miss-list__body, .price__tooltip, .count__buttons, .info__content, .list__body, .arrow, .modal-delivery__button, .way__item, .modal-pay__button, .burger {
  transition: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, button {
  font-family: inherit;
}

html {
  font-size: 10px;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: rgb(246, 246, 250);
}

h2 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.24px;
}
@media (max-width: 920px) {
  h2 {
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.2px;
  }
}

.main__wrapper {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
@media (max-width: 920px) {
  .main__wrapper {
    flex-direction: column;
    align-items: center;
  }
}

.main__left-column {
  width: calc(66.6666666667% + 32px);
  margin-bottom: 10px;
}
@media (max-width: 920px) {
  .main__left-column {
    width: 100%;
  }
}

.main__right-column {
  position: sticky;
  top: 15px;
  height: -moz-fit-content;
  height: fit-content;
  width: 33.3333333333%;
  margin-bottom: 25px;
}
@media (max-width: 920px) {
  .main__right-column {
    width: 100%;
    margin-bottom: 0px;
  }
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 9px;
  border: 1px solid rgba(255, 255, 255, 0.45);
  border-radius: 8px;
  cursor: pointer;
}
.burger img {
  width: 28px;
  height: 24px;
}
@media (max-width: 920px) {
  .burger {
    display: none;
  }
}
.burger:hover {
  border-color: #ffffff;
}

.burger-mobile {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 11px 9px;
}
.burger-mobile img {
  width: 28px;
  height: 28px;
}
@media (max-width: 920px) {
  .burger-mobile {
    display: flex;
  }
}

.modal-pay {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  background: rgba(5, 0, 10, 0.3);
}
@media (max-width: 920px) {
  .modal-pay {
    align-items: flex-start;
  }
}

.modal-pay__container {
  width: 400px;
  border-radius: 16px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
}
@media (max-width: 920px) {
  .modal-pay__container {
    height: calc(100vh - 56px);
    width: 100%;
    border-radius: 0px;
  }
}

.modal-pay__header {
  display: flex;
  justify-content: space-between;
  padding: 16px 20px 13px 24px;
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.2px;
}
@media (max-width: 920px) {
  .modal-pay__header {
    padding: 18px 11px 13px 16px;
    font-weight: 600;
  }
}

.modal-pay__close {
  cursor: pointer;
  margin: 4px 0 0;
}
@media (max-width: 920px) {
  .modal-pay__close {
    margin: 0;
  }
}

.modal-pay__content {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 0px 22px 123px;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  font-style: normal;
}
.modal-pay__content label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.modal-pay__content label img {
  margin: 0 4px 0 8px;
}
@media (max-width: 920px) {
  .modal-pay__content {
    padding: 2px 16px;
    height: calc(100% - 76px - 59px);
  }
}

.radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.radio:checked + .custom-radio::after {
  background-image: url(../../assets/svg/modal/radio-checked.svg);
}

.custom-radio::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../../assets/svg/modal/radio-disabled.svg);
}

.modal-pay__footer {
  padding: 16px 24px 24px;
}
@media (max-width: 920px) {
  .modal-pay__footer {
    padding: 16px;
  }
}

.modal-pay__button {
  display: flex;
  height: 44px;
  padding: 0px 48px 5px 48px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  background-color: rgb(203, 17, 171);
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  font-style: normal;
  cursor: pointer;
}
.modal-pay__button:hover {
  background-color: rgb(230, 20, 195);
}
.modal-pay__button:active {
  background-color: rgb(179, 15, 151);
}
@media (max-width: 920px) {
  .modal-pay__button {
    width: 100%;
  }
}

.modal-delivery {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  background: rgba(5, 0, 10, 0.3);
}
@media (max-width: 920px) {
  .modal-delivery {
    align-items: flex-start;
  }
}

.modal-delivery__container {
  width: 500px;
  border-radius: 16px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
}
@media (max-width: 920px) {
  .modal-delivery__container {
    height: calc(100vh - 56px);
    width: 100%;
    border-radius: 0px;
  }
}

.modal-delivery__header {
  display: flex;
  justify-content: space-between;
  padding: 16px 20px 13px 24px;
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.2px;
}
@media (max-width: 920px) {
  .modal-delivery__header {
    padding: 18px 11px 14px 16px;
    font-weight: 600;
  }
}

.modal-delivery__close {
  cursor: pointer;
  margin: 4px 0 0;
}
@media (max-width: 920px) {
  .modal-delivery__close {
    margin: 0;
  }
}

.modal-delivery__content {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  padding: 0px 22px 33px;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 920px) {
  .modal-delivery__content {
    padding: 2px 14px;
    height: calc(100% - 76px - 59px);
  }
}

.modal-delivery__way {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  margin-top: -1px;
}
@media (max-width: 920px) {
  .modal-delivery__way {
    padding: 0 2px;
  }
}

.way__item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 700;
  font-style: normal;
  width: 100%;
  height: 36px;
  border: 2px solid rgba(203, 17, 171, 0.15);
  border-radius: 20px;
  cursor: pointer;
}
@media (max-width: 920px) {
  .way__item {
    border-radius: 24px;
    height: 40px;
  }
}

.way__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.way__item:has(> .way__radio:checked) {
  border: 2px solid rgb(203, 17, 171);
}

.addresses__title {
  margin-bottom: 9px;
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 700;
  font-style: normal;
}

.addresses__container {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.addresses__courier {
  display: none;
}
.addresses__courier .address__name {
  padding-bottom: 8px;
}

.addresses__point {
  display: flex;
}

.addresses__item {
  display: flex;
  justify-content: space-between;
}
.addresses__item label {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  cursor: pointer;
}
.addresses__item label .custom-radio {
  padding-top: 7px;
}

.address__name {
  padding-top: 4px;
  width: 100%;
  max-width: 400px;
}
@media (max-width: 920px) {
  .address__name {
    max-width: 236px;
  }
}

.address__estimation {
  font-size: 1.3rem;
  line-height: 1.6;
  font-weight: 400;
  font-style: normal;
  color: rgb(160, 160, 164);
  padding-bottom: 8px;
}
.address__estimation span {
  color: rgb(0, 0, 0);
  margin: 0 8px 0 4px;
}
@media (max-width: 920px) {
  .address__estimation {
    margin-top: 3px;
    padding-bottom: 11.5px;
  }
}

.address-delete {
  width: 20px;
  height: 20px;
  margin-top: 8px;
  cursor: pointer;
  background-image: url("../../assets/svg/modal/delete.svg");
}
.address-delete:hover {
  background-image: url("../../assets/svg/modal/delete-hover.svg");
}

.modal-delivery__footer {
  padding: 16px 24px 24px;
}
@media (max-width: 920px) {
  .modal-delivery__footer {
    padding: 16px;
  }
}

.modal-delivery__button {
  display: flex;
  height: 44px;
  padding: 0px 48px 5px 48px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  background-color: rgb(203, 17, 171);
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  font-style: normal;
  cursor: pointer;
}
.modal-delivery__button:hover {
  background-color: rgb(230, 20, 195);
}
.modal-delivery__button:active {
  background-color: rgb(179, 15, 151);
}
@media (max-width: 920px) {
  .modal-delivery__button {
    width: 100%;
  }
}

.basket {
  padding-top: 10px;
}
@media (max-width: 920px) {
  .basket {
    padding: 0 16px;
    margin-top: -9px;
  }
}

.basket__title {
  font-size: 2.8rem;
  line-height: 3.6rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -1%;
}
@media (max-width: 920px) {
  .basket__title {
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: 700;
    font-style: normal;
  }
}

.basket__list {
  margin-top: 27px;
}
@media (max-width: 920px) {
  .basket__list {
    margin-top: 16px;
  }
}

.list__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 16px;
}
.list__header label {
  display: flex;
  cursor: pointer;
}
@media (max-width: 920px) {
  .list__header {
    padding-bottom: 17px;
    border: none;
  }
  .list__header img {
    margin-right: 4px;
  }
}

.accordion-button {
  cursor: pointer;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox:checked + .custom-checkbox::after {
  background-image: url(../../assets/svg/checkbox-checked.svg);
}

.custom-checkbox::after {
  content: "";
  cursor: pointer;
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 6px;
  background-image: url(../../assets/svg/checkbox-disabled.svg);
}

.list__text {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  font-style: normal;
  margin-left: 11px;
}

.list__total-text {
  display: none;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 600;
  font-style: normal;
}

.arrow-close {
  transform: rotate(-180deg);
}

/* product item */
.list__body {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  overflow: hidden;
  max-height: 529px;
}
@media (max-width: 920px) {
  .list__body {
    row-gap: 12px;
  }
}
.list__body:hover {
  overflow: visible;
}

.list__item {
  display: flex;
  justify-content: space-between;
  padding-top: 11px;
}
.list__item label {
  height: 96px;
  display: flex;
  align-items: center;
}
.list__item__left-column {
  display: flex;
  position: relative;
}
.list__item__right-column {
  display: flex;
}
@media (max-width: 920px) {
  .list__item {
    flex-direction: column;
    padding-top: 12px;
    row-gap: 6px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}
.list__item:hover .count__buttons {
  opacity: 1;
}

@media (max-width: 920px) {
  .item__custom-checkbox {
    position: absolute;
    top: 4px;
    left: 4px;
  }
}

.item__photo {
  width: 72px;
  height: 96px;
  margin: 0 16px 0 12px;
}
@media (max-width: 920px) {
  .item__photo {
    width: 80px;
    height: 106px;
    margin: 0 16px 0 0;
  }
}

.item__description {
  width: 100%;
  max-width: 543px;
}

.description__title {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  font-style: normal;
  max-width: 250px;
  margin-bottom: 8px;
}
@media (max-width: 920px) {
  .description__title {
    display: none;
  }
}
.description__title-mobile {
  display: none;
  font-size: 1.4em;
  line-height: 2rem;
  font-weight: 400;
  font-style: normal;
  margin-top: -3px;
  margin-bottom: 6px;
}
@media (max-width: 920px) {
  .description__title-mobile {
    display: block;
  }
}

.description__additional {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  margin: 8px 0;
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 920px) {
  .description__additional {
    margin: 6px 0 7px;
  }
}

@media (max-width: 920px) {
  .additional__size {
    display: none;
  }
}
.additional__size-mobile {
  display: none;
  width: 22px;
  height: 22px;
  padding: 0 4px 3px;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 920px) {
  .additional__size-mobile {
    display: block;
    position: absolute;
    left: 4px;
    bottom: 4px;
  }
}

.description__company {
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-style: normal;
  color: rgb(151, 151, 175);
  position: relative;
}

.company__container {
  display: flex;
  align-items: center;
}
@media (max-width: 920px) {
  .company__container {
    display: none;
  }
}

.company__name {
  display: flex;
  align-items: center;
  margin-top: 2px;
}

.company__info {
  margin-left: 7px;
  margin-top: 2px;
  cursor: pointer;
}

.info__content {
  position: absolute;
  top: 42px;
  left: 2px;
  padding: 11px 16px 13px;
  width: 280px;
  border-radius: 8px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  opacity: 0;
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-style: normal;
  color: black;
  z-index: 10;
}
.info__content .info__title {
  font-weight: 700;
}
.info__content .info__tax {
  margin: 8px 0;
}
@media (max-width: 920px) {
  .info__content {
    display: none;
  }
}

.company__info:hover + .info__content {
  opacity: 1;
}

.item__count {
  margin-right: 16px;
  margin-top: -1px;
}
@media (max-width: 920px) {
  .item__count {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 0px;
    margin-top: -2px;
  }
}

.count__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 44px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  margin-bottom: 9px;
}
.count__container .count__minus, .count__container .count__plus {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.2px;
  width: 24px;
  padding: 2px 7px 6px 8px;
  cursor: pointer;
}
@media (max-width: 920px) {
  .count__container .count__minus, .count__container .count__plus {
    padding: 0;
  }
}
@media (max-width: 920px) {
  .count__container .count__minus {
    padding: 2.667px 5px 8px 10px;
  }
}
@media (max-width: 920px) {
  .count__container .count__plus {
    padding: 2.667px 11px 8px 4px;
  }
}
.count__container .count__number {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  width: 44px;
  text-align: center;
}
@media (max-width: 920px) {
  .count__container .count__number {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
    font-style: normal;
  }
}
@media (max-width: 920px) {
  .count__container {
    width: 80px;
    height: 32px;
    margin-bottom: 0px;
  }
}

.count__stock {
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 59, 48);
  margin: 0 0 8px;
}
@media (max-width: 920px) {
  .count__stock {
    margin-bottom: 1px;
  }
}

.count__buttons {
  display: flex;
  justify-content: flex-end;
  -moz-column-gap: 16px;
       column-gap: 16px;
  opacity: 0;
}
@media (max-width: 920px) {
  .count__buttons {
    opacity: 1;
    -moz-column-gap: 24px;
         column-gap: 24px;
    padding: 12px;
    margin-top: 1px;
  }
}

.count__like, .count__remove {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.count__like {
  background: url("../../assets/svg/like.svg");
}
.count__like:hover {
  background: url("../../assets/svg/like-hover.svg");
}

.count__like-active {
  background: url("../../assets/svg/like-hover.svg");
}

.count__remove {
  background: url("../../assets/svg/trash.svg");
}
.count__remove:hover {
  background: url("../../assets/svg/modal/delete-hover.svg");
}

.item__price {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 110px;
  height: 99px;
  margin-top: -2px;
}
.item__price-mobile {
  display: none;
}
@media (max-width: 920px) {
  .item__price {
    display: none;
  }
  .item__price-mobile {
    display: flex;
    align-items: center;
    /* margin-top: 0px; */
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
}

.price__main {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 5px;
}
.price__main .small-number {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  font-style: normal;
}
.price__main .large-number {
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.2px;
}

.price__full-price {
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-style: normal;
  color: rgb(151, 151, 175);
  padding-bottom: 1px;
  border-bottom: 1px dashed rgb(151, 151, 175);
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: line-through;
  cursor: pointer;
}

.price__tooltip {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  position: absolute;
  top: 53px;
  right: -10px;
  height: 64px;
  width: -moz-max-content;
  width: max-content;
  padding: 11px 16px 13px;
  border-radius: 8px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  opacity: 0;
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-style: normal;
  color: rgb(0, 0, 0);
  z-index: -1;
}
.price__tooltip__container {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 8px;
       column-gap: 8px;
}

.price__tooltip__title {
  color: rgb(160, 160, 164);
}

.price__tooltip__sum {
  min-width: 57px;
  text-align: right;
}

.price__full-price:hover + .price__tooltip {
  opacity: 1;
  z-index: 10;
}

/* miss list */
.basket__miss-list {
  padding: 36px 0 40px;
}
@media (max-width: 920px) {
  .basket__miss-list {
    padding-top: 44px;
    padding-bottom: 18px;
  }
}

.miss-list__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding-bottom: 17px;
}
@media (max-width: 920px) {
  .miss-list__header {
    padding-bottom: 18px;
    border: none;
  }
  .miss-list__header img {
    margin: 4px 4px 0 0;
  }
}

.miss-list__text {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 600;
  font-style: normal;
}

.miss-list__body {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  overflow: hidden;
  max-height: 509px;
}
@media (max-width: 920px) {
  .miss-list__body {
    row-gap: 0px;
  }
}

.miss-list__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 12px;
}
.miss-list__item .item__photo {
  margin: 0 16px 0 0;
}
.miss-list__item .description__title {
  max-width: 309px;
}
.miss-list__item .item__description {
  color: rgb(151, 151, 175);
}
.miss-list__item .item__count {
  margin-right: 125px;
}
.miss-list__item:hover .count__buttons {
  opacity: 1;
}
.miss-list__item:last-child {
  padding-top: 4px;
}
@media (max-width: 920px) {
  .miss-list__item {
    flex-direction: column;
    padding-top: 12px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .miss-list__item .description__title-mobile {
    max-width: 309px;
    margin-top: 2px;
  }
  .miss-list__item .item__count {
    margin-right: -8px;
    margin-top: 6px;
  }
  .miss-list__item .item__count .count__buttons {
    opacity: 1;
    -moz-column-gap: 24px;
         column-gap: 24px;
    padding: 8px 12px 16px;
    margin-top: 1px;
  }
  .miss-list__item .list__item__right-column {
    align-self: flex-end;
  }
  .miss-list__item:last-child {
    padding-top: 12px;
  }
}

.delivery {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
  row-gap: 16px;
  padding: 16px 24px 24px;
}
@media (max-width: 920px) {
  .delivery {
    padding: 16px 16px 24px;
  }
}

.delivery__header {
  display: flex;
}
@media (max-width: 920px) {
  .delivery__header {
    margin-bottom: -8px;
  }
}

.delivery__title {
  width: 100%;
}

.delivery__edit {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  font-style: normal;
  color: rgb(203, 17, 171);
  margin: 7px 0 1px 10px;
  cursor: pointer;
}
@media (max-width: 920px) {
  .delivery__edit {
    margin-top: 5px;
  }
}

.delivery__point {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
@media (max-width: 920px) {
  .delivery__point {
    flex-direction: column;
  }
}

@media (max-width: 920px) {
  .delivery__date {
    margin-bottom: 3px;
  }
  .delivery__date .point__title {
    margin-bottom: 12px;
  }
}

.point__title {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 600;
  font-style: normal;
  width: 153px;
}

.point__content {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  font-style: normal;
}

.point__score {
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-style: normal;
  margin-top: 4px;
}
.point__score span {
  margin: 0 8px 0 4px;
}

.point__photo__container {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
}

.point__photo {
  width: 40px;
  height: 56px;
}

.point__product-count {
  position: absolute;
  right: -5px;
  top: -9px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: rgb(245, 81, 35);
}
.point__product-count span {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: 600;
  font-style: normal;
  color: rgb(255, 255, 255);
  padding: 0px 2px 0;
}
.point__product-count .large-count {
  padding: 0px 5px 0;
}

.delivery__refund {
  display: flex;
  align-items: center;
  padding-top: 3px;
}
@media (max-width: 920px) {
  .delivery__refund {
    padding: 3px 8px 0;
  }
}

.refund__text {
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-style: normal;
  position: relative;
}

.tooltip-free {
  color: rgb(12, 180, 119);
  border-bottom: 1px dashed rgba(12, 180, 119, 0.2);
  margin-left: 4px;
  cursor: pointer;
}

.tooltip-free__content {
  position: absolute;
  top: 20px;
  right: 0;
  width: 288px;
  padding: 10px 16px 14px;
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-style: normal;
  color: rgb(0, 0, 0);
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  opacity: 0;
  cursor: default;
}
@media (max-width: 452px) {
  .tooltip-free__content {
    top: 40px;
    right: 0;
    left: -40px;
  }
}

.tooltip-free:hover + .tooltip-free__content {
  opacity: 1;
}

.refund__icon {
  margin-right: 8px;
}

.pay {
  margin: 16px 0;
  padding: 16px 24px 24px;
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
}
@media (max-width: 920px) {
  .pay {
    margin: 12px 0;
    padding: 16px 16px 24px;
  }
}

.pay__header {
  display: flex;
}

.pay__title {
  width: 100%;
}

.pay__edit {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  font-style: normal;
  color: rgb(203, 17, 171);
  margin: 7px 0 1px 10px;
  cursor: pointer;
}
@media (max-width: 920px) {
  .pay__edit {
    margin-top: 3px;
  }
}

.pay__card {
  display: flex;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  font-style: normal;
  margin: 15px 0 8px;
}
@media (max-width: 920px) {
  .pay__card {
    margin: 7px 0;
  }
}

.card__number {
  margin: 0 12px 0 9px;
}
@media (max-width: 920px) {
  .card__number {
    margin: 1px 12px 0 8px;
  }
}

.pay__footer {
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-style: normal;
  color: rgb(151, 151, 175);
}

.recipient {
  margin: 16px 0;
  padding: 16px 24px 24px;
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
}
@media (max-width: 920px) {
  .recipient {
    margin: 12px 0;
    padding: 16px 16px 24px;
  }
}

.recipient__title {
  width: 100%;
  margin-bottom: 16px;
}
@media (max-width: 920px) {
  .recipient__title {
    margin-bottom: 7px;
  }
}

.recipient__form {
  max-width: 700px;
  display: flex;
  flex-direction: column;
}
.recipient__form input {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  font-style: normal;
  background: transparent;
  border: none;
  outline: none;
  margin-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  animation: 0.5s linear;
}
.recipient__form input::-moz-placeholder {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  font-style: normal;
  color: rgb(151, 151, 175);
}
.recipient__form input::placeholder {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  font-style: normal;
  color: rgb(151, 151, 175);
}
.recipient__form input:focus::-moz-placeholder {
  color: transparent;
}
.recipient__form input:focus::placeholder {
  color: transparent;
}
@media (max-width: 920px) {
  .recipient__form {
    row-gap: 16px;
  }
  .recipient__form input {
    margin-top: 1px;
    margin-bottom: 4px;
  }
}

.form__top, .form__bottom {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media (max-width: 920px) {
  .form__top, .form__bottom {
    flex-direction: column;
    row-gap: 16px;
  }
}

.form__item {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form__item .tag {
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-style: normal;
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  order: -1;
}
.form__item .error {
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 400;
  font-style: normal;
  height: 14px;
}
.form__item-error input {
  color: rgb(245, 81, 35);
  border-bottom: 1px solid rgb(245, 81, 35);
}
.form__item-error .error {
  color: rgb(245, 81, 35);
}
@media (max-width: 920px) {
  .form__item .tag {
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 400;
    font-style: normal;
  }
  .form__item .error {
    height: 10px;
  }
}

@keyframes errorAnimation {
  0% {
    background: transparent;
  }
  50% {
    background: rgba(255, 55, 0, 0.179);
  }
  100% {
    background: transparent;
  }
}
.total {
  padding: 16px 24px 24px;
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}
@media (max-width: 920px) {
  .total {
    padding: 3px 16px 16px;
    background-color: rgb(246, 246, 250);
    box-shadow: none;
  }
}

.total__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.total__amount {
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 700;
  font-style: normal;
}
.total__amount span {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.24px;
}
@media (max-width: 920px) {
  .total__amount {
    letter-spacing: -0.2px;
  }
  .total__amount span {
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.2px;
  }
}

.total__row {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  font-style: normal;
}

.total__extradition {
  margin: 24px 0;
}
@media (max-width: 920px) {
  .total__extradition {
    margin: 16px 0;
  }
}

.extradition__header {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 920px) {
  .extradition__header {
    display: none;
  }
}

.extradition__title {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  font-style: normal;
}

.extradition__edit {
  cursor: pointer;
}

.extradition__address {
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-style: normal;
  margin: 4px 0;
}
@media (max-width: 920px) {
  .extradition__address {
    display: none;
  }
}

.extradition__date {
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-style: normal;
  color: rgb(203, 17, 171);
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 1px dashed rgba(203, 17, 171, 0.2);
  margin-bottom: 12px;
}
@media (max-width: 920px) {
  .extradition__date {
    display: none;
  }
}

.extradition__refund {
  display: flex;
  padding: 8px 8px 12px;
  background-color: rgb(246, 246, 250);
  border-radius: 8px;
}
.extradition__refund .refund__text span {
  margin-left: 0px;
}
.extradition__refund .tooltip-free__content {
  top: 40px;
  left: -36px;
}
@media (max-width: 1054px) {
  .extradition__refund .tooltip-free__content {
    top: 40px;
    left: -60px;
  }
}
@media (max-width: 994px) {
  .extradition__refund .tooltip-free__content {
    top: 55px;
    left: -80px;
  }
}
@media (max-width: 920px) {
  .extradition__refund {
    background-color: rgb(240, 236, 244);
  }
  .extradition__refund .refund__text {
    margin-top: 2px;
  }
  .extradition__refund .tooltip-free__content {
    top: 28px;
    left: 80px;
  }
}
@media (max-width: 449px) {
  .extradition__refund .tooltip-free__content {
    top: 40px;
    left: -37px;
  }
}

.total__payment {
  margin-bottom: 24px;
}

.payment__header {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 920px) {
  .payment__header {
    display: none;
  }
}

.payment__title {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  font-style: normal;
}

.payment__edit {
  cursor: pointer;
}

.payment__card {
  display: flex;
  align-items: center;
  -moz-column-gap: 9px;
       column-gap: 9px;
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-style: normal;
  margin: 4px 0 12px;
}
@media (max-width: 920px) {
  .payment__card {
    display: none;
  }
}

.payment__checkbox {
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-style: normal;
  padding: 8px 8px 12px;
  border-radius: 8px;
  background-color: rgb(246, 246, 250);
}
@media (max-width: 920px) {
  .payment__checkbox {
    background-color: rgb(240, 236, 244);
  }
}

.checkbox__container {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}

.payment__refinements {
  margin-top: 8px;
}

.total__button {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  font-style: normal;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  background-color: rgb(203, 17, 171);
  width: 100%;
  height: 44px;
  padding: 0 32px 5px;
  margin-bottom: 12px;
  cursor: pointer;
}
.total__button:hover {
  background-color: rgb(230, 20, 195);
}
.total__button:active {
  background-color: rgb(179, 15, 151);
}

.total__rules {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-style: normal;
}
.total__rules img {
  height: 24px;
}
.total__rules span {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
@media (max-width: 1399px) {
  .total__rules {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
@media (max-width: 920px) {
  .total__rules {
    -moz-column-gap: 8px;
         column-gap: 8px;
  }
}

.header {
  position: relative;
  padding: 20px 0 44px;
  color: rgb(255, 255, 255);
  background-color: #6725A8;
}
.header::after {
  content: "";
  display: block;
  width: 100%;
  height: 24px;
  border-radius: 24px 24px 0 0;
  background-color: rgb(246, 246, 250);
  position: absolute;
  bottom: 0px;
}
@media (max-width: 920px) {
  .header {
    padding: 14px 0px 35px;
  }
}

.header__wrapper {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
@media (max-width: 920px) {
  .header__wrapper {
    display: none;
  }
}

.header__left-column {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}

.header__title {
  font-size: 2.8rem;
  line-height: 2.4rem;
  font-weight: 600;
  font-style: normal;
  font-variant: all-small-caps;
  letter-spacing: 0.56px;
  width: 106.5px;
  margin-top: -2px;
}

.header__search {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  width: 100%;
  padding: 0 20px;
  border-radius: 36px;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.header__search:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.search__input {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 400;
  font-style: normal;
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  margin-top: -4px;
  outline: none;
  cursor: pointer;
}
.search__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.search__input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.search__input:focus {
  cursor: auto;
}
.search__input:focus::-moz-placeholder {
  opacity: 0;
}
.search__input:focus::placeholder {
  opacity: 0;
}

.header__search:has(> .search__input:focus) {
  background-color: rgba(255, 255, 255, 0.6);
}

.search__icon {
  margin: 3px 2px 0 0;
}

.header__icon-menu {
  display: flex;
  -moz-column-gap: 43px;
       column-gap: 43px;
  margin-left: 0px;
}

.icon-menu__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.icon-menu__item .basket-icon {
  width: 26.29px;
  height: 22.86px;
  margin: 0 4px 0 0;
}
.icon-menu__item .profile-icon {
  width: 19px;
  height: 20px;
  margin: 2px 0 0 2px;
}

.basket-count {
  position: absolute;
  top: -7px;
  right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #F55123;
}
.basket-count span {
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  width: 12px;
  height: 18px;
  margin-bottom: 2px;
}

.icon-menu__text {
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-style: normal;
}

/* mobile */
.header-mobile {
  display: none;
  justify-content: space-between;
  padding: 0 13px;
}
@media (max-width: 920px) {
  .header-mobile {
    display: flex;
  }
}

.header-mobile__title {
  font-size: 2.6rem;
  line-height: 2.4rem;
  font-weight: 600;
  font-style: normal;
  font-variant: all-small-caps;
  letter-spacing: 0.52px;
  margin-top: -2px;
}

.icon-menu {
  display: none;
}
@media (max-width: 920px) {
  .icon-menu {
    position: fixed;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 56px;
    padding: 0 13px;
    z-index: 10;
    box-shadow: 0px -0.5px 0px 0px rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(2.5px);
            backdrop-filter: blur(2.5px);
  }
  .icon-menu img {
    width: 28px;
    height: 28px;
  }
  .icon-menu .basket-count {
    right: -6px;
    top: -3px;
  }
}

.footer {
  position: relative;
  padding: 48px 0 24px;
  color: rgba(255, 255, 255, 0.7);
  background-color: #6725A8;
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-style: normal;
}
.footer::before {
  content: "";
  display: block;
  width: 100%;
  height: 24px;
  border-radius: 0 0 24px 24px;
  background-color: rgb(246, 246, 250);
  position: absolute;
  top: 0px;
}
@media (max-width: 920px) {
  .footer {
    padding-bottom: 80px;
  }
}

.footer__text {
  text-align: center;
}

.wrapper {
  max-width: 1400px;
  padding: 0 24px;
  margin: 0 auto;
}
@media (max-width: 920px) {
  .wrapper {
    padding: 0;
  }
}/*# sourceMappingURL=style.css.map */