.footer {
  position: relative;
  padding: 48px 0 24px;
  color: rgba(255, 255, 255, 0.7); 
  background-color: #6725A8;
  @include font(1.3rem, 1.6rem);

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 24px;
    border-radius: 0 0 24px 24px;
    background-color: $background-smoky;
    position: absolute;
    top: 0px;
  }
}

.footer__text {
  text-align: center;
}