* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, button { 
  font-family: inherit;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: $background-smoky;
}

h2 {
  @include font(2.4rem, 3.2rem, 700);
  letter-spacing: -0.24px;

  @include media-mobile {
    @include font(2rem, 2.8rem, 700);
    letter-spacing: -0.2px;
  }
}

.main__wrapper {
  display: flex;
  column-gap: 32px;

  @include media-mobile {
    flex-direction: column;
    align-items: center;
  }
}

.main__left-column {
  width: calc(100%/3*2 + 32px);
  margin-bottom: 10px;

  @include media-mobile {
    width: 100%;
  }
}

.main__right-column {
  width: calc(100%/3*1);

  @include media-mobile {
    width: 100%;
  }
}