* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, button { 
  font-family: inherit;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: $background-smoky;
}

h2 {
  @include font(2.4rem, 3.2rem, 700);
  letter-spacing: -0.24px;
}

.main__wrapper {
  display: flex;
  column-gap: 32px;
}

.main__left-column {
  width: calc(100%/3*2 + 32px);
}

.main__right-column {
  width: calc(100%/3*1);
}