.recipient {
  margin: 16px 0;
  padding: 16px 24px 24px;
  border-radius: 16px;
  background-color: $background-white;
}

.recipient__title {
  width: 100%;
  margin-bottom: 16px;
}

.recipient__form {
  width: 700px;
  display: flex;
  flex-direction: column;

  input {
    @include font(1.6rem, 2.4rem);
    background: transparent;
    border: none;
    outline: none;
    margin-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
  }
  
  input::placeholder {
    @include font(1.6rem, 2.4rem);
    color: rgba(151, 151, 175, 1);
  }

  input:focus::placeholder {
    color: transparent;
  }

  input:focus + .tag {
    color: rgba(151, 151, 175, 1);
  }
}

.form__top, .form__bottom {
  display: flex;
  column-gap: 24px;
}

.form__item {
  display: flex;
  flex-direction: column;
  width: 100%;

  .tag {
    @include font(1.3rem, 1.6rem);
    @extend %transition;
    color: transparent;
    user-select: none;
    order: -1;
  }

  .error {
    @include font(1.2rem, 1.4rem);
    height: 14px;
  }
}