.total {
  padding: 16px 24px 24px;
  border-radius: 16px;
  background-color: $background-white;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.30), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);

  @include media-mobile {
    padding: 3px 16px 16px;
    background-color: $background-smoky;
    box-shadow: none;
  
  }
}

.total__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.total__amount {
  @include font(2rem, 2.8rem, 700);

  span {
    @include font(2.4rem, 3.2rem, 700);
    letter-spacing: -0.24px;
  }

  @include media-mobile {
    letter-spacing: -0.2px;

    span {
      @include font(2rem, 2.8rem, 700);
      letter-spacing: -0.2px;
    }
  }
}

.total__row {
  display: flex;
  justify-content: space-between;
  @include font(1.6rem, 2.4rem);
}

.total__extradition {
  margin: 24px 0;

  @include media-mobile {
    margin: 16px 0;
  }
}

.extradition__header {
  display: flex;
  justify-content: space-between;

  @include media-mobile {
    display: none;
  }
}

.extradition__title {
  @include font(1.6rem, 2.4rem, 700);
}

.extradition__edit {
  cursor: pointer;
}

.extradition__address {
  @include font(1.3rem, 1.6rem, 400);
  margin: 4px 0;

  @include media-mobile {
    display: none;
  }
}

.extradition__date {
  @include font(1.3rem, 1.6rem, 400);
  color: rgba(203, 17, 171, 1);
  width: fit-content;
  border-bottom: 1px dashed rgba(203, 17, 171, 0.2); 
  margin-bottom: 12px;

  @include media-mobile {
    display: none;
  }
}

.extradition__refund {
  display: flex;
  padding: 8px 8px 12px;
  background-color: $background-smoky;
  border-radius: 8px;

  .refund__text {
    span {
      margin-left: 0px;
    }
  }

  @include media-mobile {
    background-color: rgba(240, 236, 244, 1);

    .refund__text {
      margin-top: 2px;
    }
  }
}

.total__payment {
  margin-bottom: 24px;
}

.payment__header {
  display: flex;
  justify-content: space-between;

  @include media-mobile {
    display: none;
  }
}

.payment__title {
  @include font(1.6rem, 2.4rem, 700);
}

.payment__edit {
  cursor: pointer;
}

.payment__card {
  display: flex;
  align-items: center;
  column-gap: 9px;
  @include font(1.3rem, 1.6rem);
  margin: 4px 0 12px;

  @include media-mobile {
    display: none;
  }
}

.payment__checkbox {
  @include font(1.3rem, 1.6rem);
  padding: 8px 8px 12px;
  border-radius: 8px;
  background-color: $background-smoky;

  @include media-mobile {
    background-color: rgba(240, 236, 244, 1);
  }
}

.checkbox__container {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-bottom: 8px;
}

.total__button {
  @include font(1.6rem, 2.4rem, 700);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  background-color: rgba(203, 17, 171, 1);
  width: 100%;
  height: 44px;
  padding: 0 32px 5px;
  margin-bottom: 12px;
  cursor: pointer;

  &:hover {
    background-color: rgb(230, 20, 195);
  }

  &:active {
    background-color: rgba(179, 15, 151, 1);
  }
}

.total__rules {
  display: flex;
  column-gap: 8px;
  @include font(1.3rem, 1.6rem);

  img {
    height: 24px;
  }

  span {
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
  }

  @include media-tablet {
    column-gap: 10px;
  }

  @include media-mobile {
    column-gap: 8px;
  }
}